@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	min-width: min-content;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@apply box-border;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
	@apply text-inherit no-underline;
}
a:hover {
	color: #535bf2;
}
ul, ol {
	@apply list-none p-0 m-0;
}
button {
	color: #262626;
}
button, input, textarea {
	@apply outline-none focus:ring-0;
}
body {
	margin: 0;
	/* display: flex;
	place-items: center; */
	min-width: 320px;
	min-height: 100vh;
	color: #222222;
	background:#fff;
}
table {
	@apply border-collapse border-spacing-0;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

#app {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* 스크롤바 기본 스타일링 */
::-webkit-scrollbar {
  width: 10px;  /* 스크롤바 너비 */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 thumb 색상 */
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* hover 시 색상 변경 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤 트랙 배경색 */
  /* border-radius: 10px;   */
}

@media (prefers-color-scheme: light) {
	:root {
		color: #262626;
		background: #fff;
	}
	a:hover {
		color: #747bff;
	}
}
